<h3>Equipo <small>{{team.name}}</small></h3>
<button type="button" class="hollow button small secondary" [routerLink]="['/teams']" style="margin-bottom: 0">Regresar</button>
<button type="button" class="hollow button small" (click)="addNew(form)" style="margin-bottom: 0; margin-left: 1em">Nuevo equipo</button>
<hr>

<div class="grid-x grid-margin-x">
  <div class="cell small-12">
    <form (ngSubmit)="save()" #form="ngForm">
      <label>Nombre
        <input [(ngModel)]="team.name" name="name" type="text" placeholder="Nombre del equipo" required>
      </label>
      <label>Liga
        <select [(ngModel)]="team.league" name="league">
          <option value="Alemania">Alemania</option>
          <option value="España">España</option>
          <option value="Inglaterra">Inglaterra</option>
          <option value="Italia">Italia</option>
        </select>
      </label>
      <label>Historia
        <textarea [(ngModel)]="team.history" name="history" placeholder="Historia del equipo"></textarea>
      </label>
      <button [disabled]="!form.valid" type="submit" class="button">Guardar cambios</button>
    </form>
  </div>
</div>


