<h3>Equipo <small>nombre</small></h3>
<button type="button" class="hollow button small secondary" [routerLink]="['/teams']" style="margin-bottom: 0">Regresar</button>
<hr>

<div class="grid-x grid-margin-x">
  <div class="cell small-12">{{id}}
    <form (ngSubmit)="save()" #form="ngForm">
      <label>Nombre
        <input [(ngModel)]="team.name" name="name" type="text" placeholder="Nombre del equipo" required>
      </label>
      <label>Liga
        <select [(ngModel)]="team.league" name="league">
          <option value="1">Alemania</option>
          <option value="2">España</option>
          <option value="3">Inglaterra</option>
          <option value="4">Italia</option>
        </select>
      </label>
      <label>Historia
        <textarea [(ngModel)]="team.history" name="history" placeholder="Historia del equipo"></textarea>
      </label>
      <button [disabled]="!form.valid" type="submit" class="button">Guardar cambios</button>
    </form>
  </div>
</div>


