<h1>Equipos</h1>
<hr>

<div class="grid-x grid-margin-x">
  <div class="cell small-12">
    <button type="button" class="button float-right" [routerLink]="['/team','new']">Nuevo</button>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Liga</th>
        <th>Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let k of teams | keys; let i = index">
        <td>{{i+1}}</td>
        <td>{{teams[k].name}}</td>
        <td>{{teams[k].league}}</td>
        <td>
          <button [routerLink]="['/team', k]" type="button" class="hollow button success" style="margin-bottom: 0">Editar</button>
          <button (click)="deleteTeam(k)" type="button" class="hollow button alert" style="margin-bottom: 0; margin-left: 1em">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
